.services {
  &__content {
    padding: 0 30px 30px;
  }

  &__title {
    position: relative;
    margin: 0 0 12px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
  }

  &__list {
    margin: 0 0 94px;
    display: flex;
    gap: 30px;

    &--activate {
      @for $n from 1 through 3 {
        & .services__item:nth-child(#{$n}) {
          transform: translateY(0);
          opacity: 1;

          $delay: ($n - 1) * 0.2;

          transition: all 0.7s ease #{$delay + s};
        }
      }
    }
  }

  &__item {
    width: 33%;
    border-radius: 20px;
    text-align: justify;
    font-size: 20px;

    line-height: 1.5;
    opacity: 0;

    border-radius: 12px;
    box-shadow: 0 8px 30px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transform: translateY(20%);
    transition: all 1s ease;

    &:nth-child(1) {
      .services__image {
        top: -10px;
      }
    }

    &:nth-child(2) {
      .services__image {
        top: 16px;
      }
    }

    &:nth-child(3) {
      .services__image {
        top: 33px;
      }
    }
  }

  &__image-container {
    height: 240px;
    width: 100%;
    overflow: hidden;

    align-items: end;
  }

  &__image {
    position: absolute;

    width: 100%;
  }

  &__guarantee {
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(144, 238, 144, 0.116);
    border-radius: 12px;
    box-shadow: 0 8px 30px 1px rgba(0, 0, 0, 0.25);
  }

  &__guarantee-container {
    margin: 0 0 50px;

    display: flex;
    gap: calc((100% - 150px * 3) / 3);

    height: 150px;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
  }

  &__guarantee-image {
    width: 150px;
  }

  &__guarantee-text {
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
    line-height: 1.1;
  }
}

.guarantee {
&__title {
  font-size: 48px;
  margin: 0 0 50px;
  font-weight: 600;
}

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 50px;
  }

  &__item {
    width: 150px;
    height: 150px;
    background-image: url('../../assets/images/icons/certificate--star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    height: 25%;
    width: 25%;
  }

  &__text {
    text-align: center;
    font-size: 30px;
  }
}
