$color--dark-grey: #282828;
$color--light-blue: #97b6fd;
//$color--light-green:
$color--vivid-red: #ff3800;
$color--dark-violet: #322847;
$color--vscode-orange: #fc9867;
$color--vscode-blue: #78cde8;
$shadow--card: 2px 4px 12px #00000014;

.vivid-red {
  color: $color--vivid-red;
}
