@import './mixins';

$color--dark-grey: #282828;
$color--light-blue: #97b6fd;
$color--vivid-red: #ff3800;
$color--coral-red: #e25544;
$color--dark-violet: #322847;
$color--vscode-orange: #fc9867;
$color--vscode-blue: #78cde8;
$shadow--card: 2px 4px 12px #00000014;


.vivid-red {
  color: $color--vivid-red;
}

:root {
  --section-padding-desktop: 48px 0 48px;
  --section-title-font-size: 40px;
  --results-icon-size: 72px;
  --avatar-size: 170px;

  @include onDesktop--m {
    --section-title-font-size: 50px;
    --results-icon-size: 96px;
    --section-padding-desktop: 94px 0 94px;
    --avatar-size: 345px;
  }
}
