@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.section {
  padding: var(--section-padding-desktop);

  &:nth-child(3) {
    padding: 84px 0 0;
  }

  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9) {
    padding-bottom: 0;
  }

  &__title {
    margin: 0 0 36px;

    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    font-size: var(--section-title-font-size);

    @include onDesktop--m {
      margin: 0 0 94px;
    }

    &--animated {
      position: relative;

      &::after {
        position: absolute;

        top: 5px;

        height: 36px;
        width: 18px;
        background-color: #2a2a2a;

        content: ' ';
        display: inline-block;
        animation: cursor-blink 1s steps(1) 10;
        animation-delay: inherit;
        opacity: 1;
      }
    }

    &--no-cursor {
      &::after {
        content: unset;
      }
    }
  }

  &__subtitle {
    margin: 0 0 50px;
    text-align: center;
    font-size: 24px;
  }

  &__description {
    text-indent: 50px;
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;

    @include onDesktop--m {
      font-size: 24px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
