.products {
  $screen-size: 1170px;

  &__list:not(:last-child) {
    margin: 0 0 50px;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  &__item {
    height: calc(($screen-size - 20px * 4) / 5);
    width: calc(($screen-size - 20px * 4) / 5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    border-radius: 12px;
    box-shadow: 0 8px 30px 1px rgba(0, 0, 0, 0.25);

    &--html {
      background-color: rgba(239, 101, 42, 0.1);

      .products__title {
        color: #fff;
        background-color: rgba(239, 101, 42);;
      }
    }
    &--css {
      background-color: rgba(41, 101, 241, 0.1);
      .products__title {
        color: #fff;
        background-color: rgba(41, 101, 241);;
      }
    }
    &--js {
      background-color: rgba(247, 223, 30, 0.1);
      .products__title {
        color: #212121;
        background-color: rgba(247, 223, 30);
      }

    }
    &--react {
      background-color: rgba(97, 218, 251, 0.1);
      .products__title {
        color: rgb(0, 27, 150);
        background-color: rgba(97, 218, 251)
      }
    }
    &--nodejs {
      background-color: rgb(83, 158, 67, 0.1);
      .products__title {
        color: lightgreen;
        background-color: rgb(83, 158, 67);
      }
    }

    &--github {
      background-color: rgb(36, 41, 47, 0.05);
      .products__title {
        color: #fff;
        background-color: rgb(36, 41, 47);
      }
    }
    &--figma {
      background-color: rgb(255, 114, 98, 0.1);
      .products__title {
        color: #fff;
        background-color: rgb(255, 114, 98);
      }
    }
    &--bootstrap {
      background-color: rgb(86, 61, 124, 0.1);
      .products__title {
        color: #fff;
        background-color: rgb(86, 61, 124);
      }
    }
    &--api {
      background-color: rgb(105, 227, 255, 0.1);
      .products__title {
        color: #fff;
        background-color: rgb(105, 227, 255);
      }
    }
    &--sql {
      background-color: rgb(0, 188, 242, 0.1);
      .products__title {
        color: #fff;
        background-color: rgb(0, 188, 242);
      }
    }
  }

  &__title {
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
  }

  &__icon {
    height: 100px;
    width: 100px;
  }
}
