@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';

.products {
  &__list:not(:last-child) {
    margin: 0 0 50px;
  }

  &__list {
    margin: 0 auto;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;

    width: 100%;

    @include onDesktop--m {
      width: 80%;
    }
  }
}
