@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';

.button {
  margin: 0 auto;
  border: none;
  outline: none;
  background-color: $color--vivid-red;
  color: #fff;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 24px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;

  @include onDesktop--m {
    margin: 0;
    padding: 12px 24px;
    width: max-content;

    position: relative;

    gap: 16px;

    font-size: 32px;
    font-weight: 400;
  }
  
  transition: background-color 0.25s ease, transform 0.25s ease;
  box-shadow: 0 4px 15px #e14b284d;

  &:focus {
    outline: none;
  }

  &--small {
    margin: 0;

    height: 40px;

    font-size: 14px;
    font-weight: 600;

    border-radius: 8px;
    & div {
      display: none;
    }
  }

  &:hover {
    background-color: #c52a20;

    & .button__arrow {
      width: 44px;
    }
  }

  &__arrow {
    position: relative;

    height: 3px;
    width: 16px;

    @include onDesktop--m {
      top: 2px;
      height: 4px;
      width: 24px;
    }

    background-color: #fff;
    border-radius: 4px;

    transition: width 0.25s ease;

    &::before,
    &::after {
      content: '';
      display: block;

      position: absolute;
      height: 3px;
      width: 10px;

      @include onDesktop--m {
        height: 4px;
        width: 16px;
      }

      background-color: #fff;
      border-radius: 4px;

      transform-origin: right;
    }

    &::before {
      transform: rotate(45deg);
      right: -2px;
      top: 1px;
    }
    &::after {
      transform: rotate(-45deg);
      top: -1px;
      right: -2px;
    }
  }
}
