@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';
@import '../../assets/styles/utils/animations';

.button {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: none;
  outline: none;
  background-color: $color--vivid-red;
  color: #fff;

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 24px;
  font-weight: 600;
  text-align: left;
  cursor: pointer;

  &:active,
  &:target {
    animation-name: button-click;
    animation-duration: 100ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

  @include onDesktop--m {
    margin: 0;
    padding: 12px 24px;
    width: max-content;

    position: relative;

    gap: 16px;

    font-size: 32px;
    font-weight: 400;
  }

  transition: background-color 0.25s ease, transform 0.25s ease;
  box-shadow: 0 4px 15px #e14b284d;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #c52a20;

    @include onDesktop--m {
      transform: scale(0.9);
      transition-duration: 0.3s;
    }

    & .button__arrow {
      width: 44px;
    }
  }
}

.button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.3) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
  animation: sheen 1.5s infinite;
  animation-direction: alternate;
}

.small {
  margin: 0;

  height: 40px;

  font-size: 14px;
  font-weight: 600;

  border-radius: 8px;
  & div {
    display: none;
  }
}

.arrow {
  position: relative;

  height: 3px;
  width: 16px;

  @include onDesktop--m {
    top: 2px;
    height: 4px;
    width: 24px;
  }

  background-color: #fff;
  border-radius: 4px;

  transition: width 0.25s ease;

  &::before,
  &::after {
    content: '';
    display: block;

    position: absolute;
    height: 3px;
    width: 10px;

    @include onDesktop--m {
      height: 4px;
      width: 16px;
    }

    background-color: #fff;
    border-radius: 4px;

    transform-origin: right;
  }

  &::before {
    transform: rotate(45deg);
    right: -2px;
    top: 1px;
  }
  &::after {
    transform: rotate(-45deg);
    top: -1px;
    right: -2px;
  }
}
