@import '../../assets/styles/utils/mixins.scss';

.mobileOverlay {
  display: block;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vmax;
  width: 100%;

  overflow: hidden;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 10%
  );

  pointer-events: none;
}
