.FAQ {
  &__item {
    // margin-bottom: 50px;

    display: flex;
    flex-direction: column;

    cursor: pointer;

    border-top: 1px solid #b3b3b3;

    /* border-radius: 33px; */
    /* background-color: beige; */

    &:last-child {
      border-bottom: 1px solid #b3b3b3;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    /* gap: 20px; */
  }
  &__question {
    position: relative;
    text-align: left;
    font-size: 20px;
    font-weight: 700;

    /* color: beige;
    background-color: green; */

    padding: 20px;
    border-radius: 30px;

    &::after {
      content: '';
      position: absolute;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;

      height: 28px;
      width: 28px;

      background-image: url('../../assets/images/icons/plus.svg');
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;

      color: #b3b3b3;
      border: 1px solid #b3b3b3;
      border-radius: 50%;

      top: 50%;
      transform: translateY(-50%) rotate(0deg);
      transition: all 0.3s ease;
    }


    &::after {
      right: 20px;
    }


    &--open::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &__answer {
    padding: 0 20px;
    overflow: hidden;
    transition: all 0.3s;

    text-align: justify;

    font-size: 20px;

    &--open {
      height: 100%;
    }
  }
}
