@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';

.item {
  position: relative;

  display: flex;
  flex-direction: column;

  cursor: pointer;

  border-top: 1px solid #b3b3b3;

  &:last-child {
    border-bottom: 1px solid #b3b3b3;
  }

  &:hover svg {
    background-color: $color--dark-violet;
    color: #fff;
    stroke-width: 3px;
    border-color: $color--dark-violet;
  }
}

.question {
  padding: 20px;

  position: relative;
  text-align: left;

  font-weight: 500;
  border-radius: 30px;

  width: 95%;

  @include onDesktop--m {
    font-weight: 500;
    font-size: 22px;
  }

  &_open .icon {
    transform: translateY(-50%) rotate(-45deg);
    background-color: $color--dark-violet;
    color: #fff;
    stroke-width: 3px;

    border-color: $color--dark-violet;
  }
}

.answer {
  padding: 0 20px;
  overflow: hidden;
  transition: all 0.3s;

  text-align: justify;

  font-size: 14px;

  @include onDesktop--m {
    font-size: 18px;
  }

  &--open {
    height: 100%;
  }
}

.icon {
  padding: 4px;
  position: absolute;
  top: 50%;

  right: -16px;

  @include onDesktop--m {
  }

  display: flex;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;

  stroke-width: 2px;
  font-weight: 400;

  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  border-radius: 50%;

  transform: translateY(-50%) rotate(0deg);
  transition: all 0.3s ease;
}
