@import '../../assets/styles/utils/vars';

.guarantee {
  opacity: 0;
  transform: translateY(20%);

  transition: opacity 0.9s linear, transform 0.9s ease;

  &__title {
    text-align: center;
    font-size: 48px;
    margin: 0 0 50px;
    font-weight: 600;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 50px;
  }

  &__item {
    position: relative;

    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__background {
    height: 100%;
    width: 100%;

    background-image: url('../../assets/images/icons/certificate--star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    animation-name: rotate-animation;
    animation-delay: 0;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__image {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25%;
    width: 25%;
  }

  &__text {
    text-align: center;
    font-size: 30px;
  }
}
