@import '../../assets/styles/utils/vars';

.about {
  background-color: $color--dark-grey;
  color: $color--vscode-blue;

  &__title {
    color: $color--vscode-orange;
  }

  &__description {
    margin: 0 0 94px;
    position: relative;
    padding-left: 430px;
    display: flex;
    gap: 50px;
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__statistics {
    margin-bottom: 94px;
  }

  &__cta-text {
    margin: 0 0 94px;
    padding: 20px;
    border-radius: 20px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
    color: #fff;

    span {
      color: $color--light-blue;
      text-transform: uppercase;
      font-size: 50px;
    }

  }

  &__cta-button {
    margin: 0 auto;
    width: min-content;

    opacity: 0;
    transform: translateY(50%);

    transition: all 0.9s ease;

/*     animation: appear linear forwards;
    animation-timeline: view();
    animation-range: 100px 250px; */
  }
}

@keyframes appear {
  from { opacity: 0; transform: translateY(50%);}
  to { opacity: 1; transform: translateY(0);}
}
