@import '../../assets/styles/utils/vars';

.about {
  background-color: $color--dark-grey;
  color: $color--vscode-blue;

  &__title {
    color: $color--vscode-orange;
  }

  &__description {
    margin: 0 0 50px;
    position: relative;
    padding-left: 430px;
    display: flex;
    gap: 50px;
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
