@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';
@import '../../assets/styles/utils/animations';

.modal {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;

  transition: opacity 500ms ease-in-out;
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.backdrop {
  background-color: rgba($color: #000000, $alpha: 0.4);

  height: 100%;
  width: 100%;
}

.windowWrapper {
  position: absolute;
  padding: 0;

  display: flex;
  max-width: 600px;
  height: 543px;

  width: 95%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include onDesktop--m {
    height: 870px;
    max-width: 900px;
  }

  overflow: visible;
  transition: all 700ms ease-in-out;

  .visible & {
    pointer-events: all;
  }
}

.animationWrapper {
  position: relative;
  z-index: 33;
  width: 100%;
  height: 100%;

  @include onDesktop--m {
    height: 100%;
  }

  border-radius: 8px;

  overflow: hidden;

  &::after {
    position: absolute;

    top: 50%;
    left: 50%;

    translate: -50% -50%;

    content: '';
    height: 200%;
    width: 200%;

    background: conic-gradient(
      from 0deg at 50% 50%,
      #ff000000 0%,
      #ff0000ff 49%,
      #ff000000 50%,
      #ff0000ff 100%
    );

    background-size: cover;
    background-position: left 0 top 0;
    background-repeat: no-repeat;
    filter: blur(4px);
    border-radius: inherit;

    animation: spin 9s linear infinite;
  }
}

.window {
  padding: 16px;

  @include onDesktop--m {
    padding: 32px;
  }

  position: relative;
  top: 3px;
  left: 3px;
  z-index: 10;
  height: fit-content;
  width: calc(100% - 6px);

  background-color: #fff;
  border-radius: 8px;

  transition: all 700ms ease-in-out;

  h2 {
    margin: 0 0 16px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;

    @include onDesktop--m {
      margin: 0 0 36px;

      font-size: 36px;
    }
  }

  h3 {
    margin: 0 0 12px;

    font-size: 16px;
    font-weight: 700;
    text-align: center;

    @include onDesktop--m {
      font-size: 24px;
      margin: 0 0 24px;
    }
  }

  .listTitle {
    margin: 0 0 18px;
    font-size: 16px;

    @include onDesktop--m {
      font-size: 32px;
      margin: 0 0 48px;
    }
  }

  & ol {
    margin: 0 0 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;

    font-size: 14px;

    @include onDesktop--m {
      margin: 0 0 48px;
      font-size: 24px;
    }

    li {
      font-size: inherit;
      font-weight: 600;

      span {
        font-family: sans-serif;
        font-size: 10px;
        font-style: italic;
        color: grey;

        @include onDesktop--m {
          font-size: 14px;
        }
      }
    }
  }
}

.accent {
  color: $color--vivid-red;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.button {
  padding: 0;

  position: absolute;
  z-index: 100;
  right: 8px;
  top: 8px;

  height: 32px;
  width: 32px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  background-color: #fff;

  border: 2px solid $color--vivid-red;
  background-color: $color--vivid-red;

  &::before,
  &::after {
    position: absolute;
    content: '';

    width: 12px;
    height: 2px;

    border-radius: 4px;
    background-color: #fff;

    transition: background-color 250ms ease-in-out;
  }

  transition: all 250ms ease-in-out;

  &:hover {
    background-color: #fff;
    &::before,
    &::after {
      background-color: $color--vivid-red;
    }
  }

  @include onDesktop--m {
    right: -16px;
    top: -16px;
    &::before,
    &::after {
      width: 18px;
    }
  }

  &::before {
    rotate: 45deg;
  }
  &::after {
    rotate: -45deg;
  }

  &:active {
    animation-name: button-click;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
}

.icon {
  height: 40px;
  width: 40px;
  @include onDesktop--m {
    height: 80px;
    width: 80px;
  }
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(
    270deg,
    #ff4070 6.6%,
    #934eea 50.38%,
    #0080ff 93.89%
  );
  background-clip: text;
}

.tgIcon {
  transition-duration: 0.3s;
  @include onDesktop--m {
    &:hover {
      transform: scale(0.9);
    }
  }
}
