@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';
@import '../../assets/styles/utils/animations';

.modal {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 100;

  opacity: 0;
  pointer-events: none;

  transition: all 500ms ease-in-out;
  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.backdrop {
  background-color: rgba($color: #000000, $alpha: 0.4);

  height: 100%;
  width: 100%;
}

.windowWrapper {
  position: absolute;
  padding: 0;

  max-width: 600px;
  max-height: 90%;

  z-index: 2;

  height: 100%;
  width: 90%;

  top: 50%;
  left: 50%;
  translate: -50% -50%;

  @include onDesktop--m {
    max-height: 95%;
    max-width: 900px;
  }

  translate: -50% -40%;
  transition: all 700ms ease-in-out;

  .visible & {
    translate: -50% -50%;
  }
}

.animationWrapper {
  position: fixed;
  z-index: 33;

  height: 100%;
  width: 100%;

  top: 50%;
  left: 50%;

  translate: -50% -50%;
  border-radius: 8px;
  overflow: hidden;

  &::after {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    translate: -50% -50%;

    content: '';
    height: 200%;
    width: 200%;

    background: conic-gradient(
      from 0deg at 50% 50%,
      #ff000000 0%,
      #ff0000ff 49%,
      #ff000000 50%,
      #ff0000ff 100%
    );

    background-size: cover;
    background-position: left 0 top 0;
    background-repeat: no-repeat;
    // filter: blur(4px);
    border-radius: inherit;

    animation: spin 9s linear infinite;
  }
}

.window {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 10;
  height: calc(100% - 6px);
  width: calc(100% - 6px);

  background-color: #fff;
  border-radius: 8px;

  transition: all 700ms ease-in-out;
}

.button {
  padding: 0;

  position: absolute;
  z-index: 100;
  right: -10px;
  top: -10px;

  height: 24px;
  width: 24px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  background-color: #fff;

  border: 2px solid $color--vivid-red;
  background-color: $color--vivid-red;

  &::before,
  &::after {
    position: absolute;
    content: '';

    width: 12px;
    height: 2px;

    border-radius: 4px;
    background-color: #fff;

    transition: background-color 250ms ease-in-out;
  }

  transition: all 250ms ease-in-out;

  &:hover {
    background-color: #fff;
    &::before,
    &::after {
      background-color: $color--vivid-red;
    }
  }

  @include onDesktop--m {
    height: 40px;
    width: 40px;
    right: -20px;
    top: -20px;
    &::before,
    &::after {
      width: 18px;
    }
  }

  &::before {
    rotate: 45deg;
  }
  &::after {
    rotate: -45deg;
  }

  &:active {
    animation-name: button-click;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
}
