@import '../../assets/styles/utils/mixins';

.statistics {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;

    @include onDesktop--m {
      flex-direction: row;
    }

    justify-content: space-around;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: end;

    opacity: 0;
    transform: translateY(50%);
    transition: all 1s ease;

    @for $i from 1 through 3 {
      &--appear:nth-child(#{$i}) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(100ms * #{$i});
      }
    }

    &:nth-child(1) {
      width: 90px;

      @include onDesktop--m {
        width: 130px;
      }

      .statistics__number {
        position: relative;
        right: 16px;
      }
    }

    &:nth-child(2) {
      width: 110px;

      @include onDesktop--m {
      width: 172px;
      }

      .statistics__number {
        position: relative;
        right: 8px;
      }
    }

    &:nth-child(3) {
      width: 106px;
      @include onDesktop--m {
      width: 168px;
      }
      .statistics__number {
        position: relative;
        right: 4px;
      }
    }

    & svg {
      position: absolute;
      top: 55%;
      left: 55%;
      transform: translate(-50%, -50%);

      height: 180px;
      width: 180px;

      @include onDesktop--m {
        height: 242px;
        width: 300px;
      }
    }
  }

  &__number {
    font-size: 28px;
    font-weight: 600;

    @include onDesktop--m {
      font-size: 60px;
    }

    color: #fff;
    width: fit-content;

    span {
      position: relative;
      right: 10px;

      font-feature-settings: 'tnum';
      font-variant-numeric: tabular-nums;
    }

    &::after {
      font-size: inherit;
      font-weight: 600;
      color: #fff;
      content: '+';
      position: absolute;
    }

    &:nth-child(1)::after {
      left: calc(100% - 6px);
    }

    &:nth-child(2)::after {
      left: calc(100% - 6px);
    }

    &:nth-child(3)::after {
      left: calc(100% - 6px);
    }
  }

  &__text {
    font-size: 28px;
    font-weight: 600;

    @include onDesktop--m {
      font-size: 44px;
    }

    text-transform: uppercase;
  }
}
