@import '../../assets/styles/utils/vars';

.carousel {
  position: relative;
}

.wrapper {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ededf2;
  border-radius: 12px;
}

.stripe {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.slideOuter {
  display: flex;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  flex-shrink: 0;
}

.slideInner {
}

.button {
  padding: 0;
  margin: 0;

  position: absolute;
  top: 50%;

  height: 24px;
  width: 24px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  color: #fff;
  font-size: 18px;

  background-color: lightblue;

  transform: translateY(-50%);

  &:target,
  &:focus,
  &:active,
  &:hover {
    background-color: lightblue;
  }
}

.prev {
  left: calc((36px - 24px) / 2);
}

.next {
  right: calc((36px - 24px) / 2);
}

.icon {
  height: 12px;
  width: 12px;
}

.dots {
  margin: 12px 0 0;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.dot {
  padding: 0;
  margin: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: lightgrey;

  transition: background-color 0.3s ease-in-out;
}

.activeDot {
  background-color: black;
}
