@import '../../assets/styles/utils/vars';

.carousel {

  position: relative;
  user-select: none;

  @include onDesktop--m {
    display: none;
  }
}

.wrapper {
  margin: 0 auto;

  width: 100%;

  border-radius: 12px;
  // border: 1px solid #ededf2;

  overflow: hidden;
}

.stripe {
  display: flex;
  translate: -100%;
  transition: translate 500ms ease-in-out;
}

.slideOuter {
  display: flex;
  border-radius: 12px;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.slideInner {
  padding: 12px;

  display: flex;
  width: 100%;
  flex-shrink: 0;
}

.button {
  padding: 0;
  margin: 0;

  position: absolute;
  top: 50%;

  height: 48px;
  width: 48px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  color: #fff;
  font-size: 18px;

  transform: translateY(-50%);

  transition: all 0.15s ease-in-out;
  background-color: lightblue;

  &:target,
  &:focus,
  &:active,
  &:hover {
    background-color: lightblue;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.prev {
  left: calc((32px - 60px) / 2);
}

.next {
  right: calc((32px - 60px) / 2);
}

.icon {
  height: 12px;
  width: 12px;
}

.dots {
  margin: 12px 0 0;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.dot {
  padding: 0;
  margin: 0;
  width: 8px;
  height: 8px;

  border: none;
  border-radius: 50%;
  background-color: lightgrey;

  transition: background-color 0.3s ease-in-out;
}

.activeDot {
  background-color: $color--dark-violet;
}
