@import '../../assets/styles/utils/vars';

.carousel {
  position: relative;
}

.wrapper {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.stripe {
  display: flex;

  transition: transform 0.3s ease-in-out;
}

.slideOuter {
  border: 1px solid #000;
  display: flex;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  flex-shrink: 0;
}

.slideInner {
}

.image {
  border-radius: 8px;

  width: 100%;
  object-fit: contain;
}

.button {
  padding: 0;
  margin: 0;

  position: absolute;
  top: 50%;

  height: 24px;
  width: 24px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  color: #fff;
  font-size: 18px;

  transform: translateY(-50%);
}

.prev {
  left: 4px;
  &::after {
    content: '<';
  }
}

.next {
  right: 4px;
  &::after {
    content: '>';
  }
}

.dots {
  margin: 12px 0 0;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.dot {
  padding: 0;
  margin: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: lightgrey;

  transition: background-color 0.3s ease-in-out;
}

.activeDot {
  background-color: black;
}
