@import '../../assets/styles/utils/_vars.scss';

.product {
  position: relative;

  $screen-size: 1170px;
  background-color: #f1f3f9;
  border-radius: 12px;
  box-shadow: $shadow--card;

  width: calc(($screen-size * 0.8 - 20px * 3) / 4);
  transition: all 0.5s;

  overflow: hidden;

  &__backdrop {
    position: absolute;

    // background-color: #ebeef7;
    background-color: #e4e7f0;

    border-radius: 50%;

    transform: translate(-50%, -50%);
    transition: height 0.35s, width 0.35s, border-radius 0.2s;
  }

  &__wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    transition: transform 0.9s;

    &:hover {
      transform: scale(0.9);
    }
  }

  &__title {
    position: relative;
    z-index: 5;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    pointer-events: none;
  }

  &__icon {
    position: relative;
    z-index: 5;
    height: 40px;
    width: 40px;
    pointer-events: none;
  }
}
