@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';

.contacts {
  background-color: $color--dark-grey;
  color: $color--vscode-blue;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 70px;

  @include onDesktop--m {
    flex-direction: row;
  }
}

.title {
  color: $color--vscode-orange;
  text-shadow: none;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text {
  font-size: 24px;
  font-weight: 500;
  text-align: center;

  @include onDesktop--m {
    font-size: 36px;
    text-indent: 50px;
    text-align: justify;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;

  @include onDesktop--m {
    width: 540px;
    justify-content: space-between;
  }
}

.icon {
  height: 40px;
  width: 40px;
  @include onDesktop--m {
    height: 80px;
    width: 80px;
  }
}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 50px;
  font-weight: 900;
  background: linear-gradient(
    270deg,
    #ff4070 6.6%,
    #934eea 50.38%,
    #0080ff 93.89%
  );
  background-clip: text;
}
