@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/mixins';
@import '../../assets/styles/utils/animations';

.banner {
  padding: 0;
  background-color: #fff;
}

.content {
  padding: 20px 0 0;
  height: calc(100svh - 50px);
  background: url('../../assets/images/banner/animated.gif'),
    url('../../assets/images/banner/static.gif');
  background-repeat: no-repeat;

  background-position: center bottom;
  background-size: contain;

  opacity: 0;

  animation: appear 1s linear;
  animation-fill-mode: forwards;

  @include onDesktop--m {
    padding: 40px 0 0;
    height: 350px;
    width: 100%;
    background-size: 530px;
    background-position: top -30px right 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.titleContainer {
  position: relative;
}

.title {
  margin: 0 0 36px;
  position: relative;

  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;

  text-shadow: 4px 4px 4px #ccc;

  @include onDesktop--m {
    margin: 0;
    font-size: 50px;
    text-align: left;
    animation-delay: 5000ms;
  }

  &::after {
    position: absolute;
    bottom: 10px;

    height: 36px;
    width: 18px;
    background-color: $color--dark-grey;

    content: ' ';
    display: inline-block;
    animation: cursor-blink 1s linear infinite;
    animation-delay: inherit;
    opacity: 1;
  }
}
.noCursor {
  &::after {
    opacity: 0;
    animation: none;
  }
}

.button {
  margin: 0 0 10px;
  opacity: 0;
  transform: translateY(40%);

  transition: all 0.9s;
}
