@import '../../assets/styles/utils/vars';
@import '../../assets/styles/utils/animations';

.banner {
  padding: 0;
  &__content {
    height: 400px;
    width: 100%;
    // border: 1px solid red;
    background: url('../../assets/images/banner/animated.gif'),
      url('../../assets/images/banner/static.gif');
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;

    display: flex;
    align-items: end;
  }

  &__title-container {
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    // color: $color--dark-grey;

    position: relative;

    font-weight: 700;
    font-size: 48px;

    animation-delay: 5000ms;

    &::after {
      position: absolute;
      bottom: 4px;

      height: 36px;
      width: 18px;
      background-color: $color--dark-grey;

      content: ' ';
      display: inline-block;
      animation: cursor-blink 1s steps(1) 10, make-tranparent 1s steps(1) 1;
      animation-delay: inherit;
      opacity: 1;
    }

    &--no-cursor {
      &::after {
        content: unset;
      }
    }
  }
}
